* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 50px 1fr 50px;
  grid-template-areas: 
    "header header"
    "sidebar main-content"
    "footer footer"
  ;
  height: 100vh;
}

.header {
  grid-area: header;
  background-color: crimson;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #FFF;
}

.sidebar {
  grid-area: sidebar;
  background-color: blue;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #FFF;
}

.main-content {
  grid-area: main-content;
  background-color: brown;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #FFF;
}

.footer {
  grid-area: footer;
  background-color: rgb(190, 7, 96);
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #FFF;
}