* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

.main-container {
  display: grid;
  grid-template-areas: 
    "header header header header"
    "aside main main main"
    "footer footer footer footer"
  ;
  grid-template-columns: auto, 3fr;
  grid-template-rows: auto 2fr auto;
  gap: 5px;
  background-color: #2196F3;
  padding: 5px;
  min-height: 100vh;
} 

.main-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  text-align: center;
  border: 1px solid #FFF;
}

.header {
  grid-area: header;
}

.aside {
  grid-area: aside;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}